---
import PostCard from './PostCard.astro';
import type { CollectionEntry } from 'astro:content';

type Post = CollectionEntry<'blog'>;

export interface Props {
  posts: Post[];
}

const { posts } = Astro.props;
---

<div class="post-list">
  {posts.map((post) => (
    <PostCard
      title={post.data.title}
      description={post.data.description}
      publishedAt={post.data.publishedAt}
      tags={post.data.tags}
      slug={post.id}
      body={post.body || ''}
    />
  ))}
</div>
